body{
    background-color: rgb(219, 255, 255);
    text-align: center;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    height: 400px;
    width: 600px;
}
a:visited{
    color: rgb(0, 0, 0);
}
a:visited:hover{
    color: rgb(255, 255, 255);
}
button {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
button:hover {
    color: white;
    background-color: rgb(140, 140, 140);
}